<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Foody TH.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D288EE01D26C7C400D72697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D288EF41D26C7C400D72697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D288EFF1D26C7C400D72697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
